label {
  display: none;
}
form {
  position: relative;
  margin-inline: auto;
  width: 100%;
  max-width: 400px;
  height: 3.5rem;
  display: flex;
  align-items: center;
}
#cardNumber {
  position: absolute;
  width: 100%;
  background-color: var(--bg-form);
  border: none;
  padding: 1rem;
  font-size: var(--fs-base);
  border-radius: 8px;
  outline: 1px solid var(--stroke-form-color);
  color: var(--gray-700);
  caret-color: var(--brand-color-primary);
  &::placeholder {
    color: var(--gray-500);
  }
  &:focus {
    outline: var(--brand-color-primary) 1.5px solid;
  }
  &:active {
    outline: var(--brand-color-primary) 1.5px solid;
  }
}
button {
  display: flex;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  right: 0.5rem;
  background: url(../assets/icons/arrowElbowDownLeft.svg) no-repeat center
    center;
  background-size: 1rem;
  background-color: var(--gray-700);
  border: none;
  border-radius: 0.5rem;
  span {
    display: none;
  }
  &:hover {
    background-color: var(--gray-600);
  }
  &:disabled {
    background-color: #332b3199;
    cursor: not-allowed;
  }
}
@media (width >= 80em) {
  form {
    padding-top: 2.25rem;
    padding-bottom: 4rem;
  }
}
