header.top {
  text-align: center;
  padding-top: var(--py-2lg);
  & img {
    width: 6.214375rem;
    height: 3rem;
  }
}

@media (width >= 80em) {
  header.top {
    padding: var(--py-2xl) 0 1.25rem;
    & img {
      width: 7.25rem;
      height: 3.5rem;
    }
  }
}
