header {
  text-align: center;
  padding-top: var(--py-2lg);
  & img {
    width: 6.214375rem; /*99.43*/
    height: 3rem; /*48*/
  }
}

@media (width >= 80em) {
  header {
    padding: var(--py-2xl) 0 1.25rem;
  }
  header img {
    width: 7.25rem; /*99.43*/
    height: 3.5rem; /*99.43*/
  }
}
