.py-base {
  margin-block: var(--py-base);
}

.container {
  --max-width: 375px;
  width: min(var(--max-width), 912px);
  margin-inline: auto;
}

.border-radius {
  background-color: var(--bg-card);
  border: 1px solid var(--stroke-color);
  border-radius: 1rem;
}

.board-client {
  display: grid;
  gap: 0.5rem;
}

@media (width >= 80em) {
  .container {
    --max-width: 80rem;
  }
  .board-client {
    display: grid;
    gap: 1rem;
    grid-template-columns: 320px auto;
    grid-template-rows: auto;
    grid-template-areas:
      "client loyalty"
      "appointment loyalty"
      "appointment loyalty"
      "appointment cuts";
  }
  .client {
    grid-area: client;
  }
  .loyalty-card {
    grid-area: loyalty;
  }
  .appointment-history {
    grid-area: appointment;
  }

  .cuts-remaining {
    grid-area: cuts;
  }
}
